.WishClass {
  width: 242px;
  position: relative;
  margin-right: 24px;
  margin-bottom: 32px;
  color: rgb(27, 28, 29);
  cursor: pointer;
  font-size: 14px;

  .wishContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 32px;
    height: 32px;
    top: 8px;
    right: 8px;

    &:hover {
      background-color: rgba(248, 248, 249, 0.2);
      border-radius: 100%;
    }
  }

  .discountPrice {
    display: flex;
    margin-bottom: 2px;

    .originalPrice {
      font-size: 11px;
      line-height: 16px;
      color: rgb(133, 138, 141);
      text-decoration: line-through;
    }

    .discountPercent {
      color: rgb(243, 51, 64);
      font-weight: 600;
      font-size: 11px;
      line-height: 16px;
      margin-left: 3px;
    }
  }

  .payMonth {
    display: flex;
    align-items: center;

    .pay {
      font-weight: bold;
      font-size: 14px;
      line-height: 20px;
    }

    .month {
      font-size: 11px;
      line-height: 16px;
      margin-left: 3px;
    }
  }
}