.SummaryOptionsContainer {
  margin-top: 16px;
  padding: 20px 0;
  border-top: 1px solid rgb(62, 64, 66);
  border-bottom: 1px solid rgb(62, 64, 66);

  .SummaryOptionsList {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -20px;

    .Wrapper {
      display: flex;
      align-items: center;
      width: 50%;
      margin-bottom: 20px; 

      .iconBox {
        display: flex;
        align-items: center;
        margin-right: 8px;

        .icon {
          width: 18px;

          path {
            fill: rgb(237, 239, 240);
          }
        }
      }
    }
  
    .text {
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
    }
  }
}