ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

::selection {
  background-color: rgb(255, 89, 70) !important;
  color: rgb(255, 255, 255) !important;
}

@mixin flex_between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex_align {
  display: flex;
  align-items: center;
}

@mixin flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}
