.delivery {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 960px;

  .delTitle {
    width: 100%;
    margin: 48px 0 24px;

    h3 {
      color: rgb(237, 239, 240);
    }
  }

  .delSchedule {
    display: flex;
    margin-bottom: 48px;
    width: 100%;

    .delIconBox {
      display: flex;
      flex: 0 0 85px;
      font-size: 14px;
      font-weight: bold;
      line-height: 20px;
      letter-spacing: -0.15px;
      color: rgb(237, 239, 240);

      div {
        margin-right: 8px;
      }
    }

    .delScheduleInf {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: -0.15px;
      color: rgb(237, 239, 240);
    }

    ul {
      margin-top: 4px;
      font-size: 11px;
      line-height: 16px;

      li {
        position: relative;
        padding-left: 24px;
        margin: 0 0 4px;
        color: rgb(237, 239, 240);

        &::before {
          content: "";
          position: absolute;
          top: 0px;
          left: 0px;
          width: 4px;
          height: 4px;
          margin-top: 6px;
          margin-left: 10px;
          background-color: rgb(237, 239, 240);
          border-radius: 3px;
        }
      }
    }
  }
}
