.FacebookIcon {
  width: 32px;
  height: 32px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  border-radius: 20px;
  color: rgb(237, 239, 240);
  background-color: rgb(62, 64, 66);
}
