@import "../../Styles/common.scss";

.nav {
  background: white;
  border-bottom: 1px solid #3d4042;

  .mainHaeder {
    @include flex_between;
    max-width: 1180px;
    height: 68px;
    margin: 0 auto;

    .haederLeft {
      display: flex;
      align-items: center;

      .mainLogo {
        font-size: 22px;
        margin-right: 29px;
        font-weight: bold;
      }

      .searchController {
        @include flex_between;
        height: 40px;
        border-radius: 3px;
        box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 1px 0px,
          rgba(41, 42, 43, 0.16) 0px 1px 3px 0px;
        overflow: hidden;

        .mainSearch {
          padding: 0 10px;
          font-size: 14px;
          outline: none;
        }

        .searchActive {
          width: 380px;
          transition: all 0.6s cubic-bezier(0.42, 0, 0.2, 1) 0s;
        }

        .searchdeactivate {
          width: 335px;
          transition: all 0.6s cubic-bezier(0.42, 0, 0.2, 1) 0s;
        }

        .searchIcon {
          width: 20px;
          height: 20px;
          margin-right: 20px;
        }
      }
    }

    .haederRight {
      @include flex_align;

      .navigationLink {
        font-size: 14px;
        margin-right: 18px;
      }

      .navigationLogin {
        font-size: 14px;

        & a:link {
          color: white;
        }
        & a:visited {
          color: white;
        }
      }
    }
  }

  .mainNav {
    @include flex_align;
    max-width: 1176px;
    height: 50px;
    margin: 0 auto;

    .navMenu {
      margin-right: 25px;
    }

    .navText {
      margin: 0 26px;
      font-size: 16px;
      cursor: pointer;

      &.navText:hover {
        font-weight: bold;
        color: white;
      }
    }

    .Libre {
      color: rgb(217, 73, 10);
    }
  }
}
