.kakaoBtn {
  width: 376px;
  height: 40px;
  margin-top: 10px;
  border: 1px solid rgb(133, 138, 141);
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
}
